<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Otus_HomeWork2ADONet.Otus_HomeWork2ADONet" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Otus_HomeWork2ADONet.Otus_HomeWork2ADONet>
            <setting name="dbname" serializeAs="String">
                <value>VirtualShop</value>
            </setting>
        </Otus_HomeWork2ADONet.Otus_HomeWork2ADONet>
    </applicationSettings>
</configuration>